<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="bPGO is a hyper-deflationary community driven token on the BinanceSmartChain" />
    <meta name="author" content="Pengolincoin - CitizenZ" />
    <meta name="image" content="{{ asset('assets/img/' ~ settings[0].siteLogo) }}">
    <link rel="canonical" href="{{ settings[0].siteUrlfull }}" />

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ settings[0].siteName }}">
    <meta itemprop="description" content="{{ settings[0].siteDescription }}">
    <meta itemprop="image" content="{{ asset('assets/img/' ~ settings[0].siteLogo ) }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ settings[0].siteName }}">
    <meta name="twitter:description" content="{{ settings[0].siteDescription }}">
    <meta name="twitter:site" content="{{ settings[0].siteName }}">
    <meta name="twitter:image:src" content="{{ asset('assets/img/' ~ settings[0].siteLogo) }}">

    <!-- Open Graph general -->
    <meta property="og:title" content="{{ settings[0].siteName }}" />
    <meta property="og:description" content="{{ settings[0].siteDescription }}" />
    <meta property="og:image" content="{{ asset('assets/img/' ~ settings[0].siteLogo ) }}" />
    <meta property="og:url" content="{{ settings[0].siteName }}" />
    <meta property="og:site_name" content="{{ settings[0].siteName }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website" />

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo.png') }}" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPMJ65EK3J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DPMJ65EK3J');
    </script>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script src="assets/js/tarteaucitron/tarteaucitron.js"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */
          "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */

    	  "orientation": "middle", /* Banner position (top - bottom) */

          "groupServices": false, /* Group services by category */
          "serviceDefaultState": "wait", /* Default state (true - wait - false) */

    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */

          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */

          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true /* Show the disabled accept button when mandatory on */
        });
    </script>
</head>

<body>
    {% include '_includes/_header.html.twig' %}
    {% block body %}
    {% endblock %}
    {% include '_includes/_footer.html.twig' %}

    <script type="text/javascript">
        tarteaucitron.user.googleFonts = 'Montserrat, Lato';
        (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    </script>
</body>

</html>
